footer {
  display: flex;
  padding-block: 1.5rem;
  gap: 1.5rem;
  font: .875rem/150% var(--font-family);
}

footer span:nth-child(1) {
  margin-right: auto;
}
@media (max-width: 48rem) {
  footer {
    padding-block: calc(1.5rem / 0.6);
    gap: calc(1.5rem / 0.6);
    flex-direction: column;
  }
}