* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --brand-color: #EF5F4C;
  --shape-transparent: #ffffff8f
  --background-color: #ffffff;
  --surface-color: #F5F5F5;
  --skeleton-color: #D9D9D9;
  --text-color-primary: #313131;
  --text-color-secondary: #6C6C6C;
  --font-family: 'Poppins', sans-serif;
  --text-lg: bold 2rem/125% var(--font-family);
  --text: 1rem/150% var(--font-family);
  --text-md: .875rem/170% var(--font-family);	
  --text-sm: 12px/170% var(--font-family);
}

html, body {
  overflow-x: hidden;
}
body {
  font: var(--font-family);
  color: var(--text-color-secondary);
  background-color: var(--background-color);
}

a {
  text-decoration: none;
  color: inherit;
}

a:hover {
  color: var(--brand-color);
  text-decoration: underline;
}

.container {
  padding-inline: 2rem;
  max-width: 117.5rem;
  margin-inline: auto;
}
.bg-surface-color {
  background-color: var(--surface-color);
}

@media (max-width: 48rem) {
  .container {
    padding-inline: calc(2rem / 0.6);
    max-width: 48rem;
  }
}
